body {
  font-family: Sans-Serif;
  background-color: #fdfdfd;
  font-size: 1em;
  line-height: 1.4;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1em;
}


#profile {
  width: 10em;
  height: 10em;
  object-fit: cover;
  object-position: 20% 10%;
  border-radius: 50%;
  float: right;
  border: 1px solid #eeeeee;
  margin-left: 2em;
}

.activities {
  display: flex;
  align-items: center;
}

.activities > div {
  margin-bottom: 0.5em;
}

/* main layout */

p {
  text-align: justify;
  text-justify: auto;
  hyphens: none;
}


td {
  padding: 2px !important;
  padding-left: 5px !important;
}

a {
  color: #158cba;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#draftbox {
  text-align: center;
  font-weight: bold;
  background-color: #ff0000;
  line-height: 4em;
}

a.external {
  background: url(../images/external.png) center right no-repeat;
  padding-right: 13px;
}

img.activity-favicon {
  width: 1em;
  filter: saturate(80%);
  vertical-align: text-top;
}

:not(pre) > code {
  background-color: rgba(27,31,35,.05);
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
  padding: .1em .4em;
  white-space: nowrap;
}

pre.sourceCode {
  background-color: #f5f5f5;
  border-radius: 4px;
  border: 1px solid #cccccc;
  padding: 9.5px;
}

blockquote {
  color: #666666;
  margin: 0;
  padding-left: 3em;
  border-left: 0.5em #EEE solid;
}

/* Images with captions */

img {
  max-width: 100%;
}

figure {
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  border: thin silver solid;
  margin: 0em;
  padding: 0em;
}

/* Callout */

aside {
  background: #1f8dd6;
  border-radius: 3px;
  color: #fff;
  padding: .3em 1em;
}

aside a, aside a:visited {
  color:#a9e2ff
}

/* Katex */

.katex { font-size: 1em !important; } 