<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{% if title %}{{ title }} - {% endif %}Utku Demir</title>
    <link rel="stylesheet" type="text/css" href="/css/pure-min.css" inline />
    <link rel="stylesheet" type="text/css" href="/css/pure-grids-responsive-min.css" inline />
    <link rel="stylesheet" type="text/css" href="/css/default.css" inline />
    <link rel="stylesheet" type="text/css" href="/css/syntax.css" inline />
    <!-- favicon -->
    <link rel="shortcut icon" href="/images/blog.svg" type="image/svg" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS Feed"
      href="/rss.xml"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container">
      {% block content %}{{ content | safe }}{% endblock %}
      
      <hr/>
      <center>
        <small>
          © Utku Demir, 2015-2023.
          Source: <a href="https://github.com/utdemir/utdemir.com">github.com/utdemir/utdemir.com</a>.
          <br/>
          This work is licensed under a
          <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
            Creative Commons Attribution 4.0 International License</a
          >.
        </small>
      </center>
    </div>
    <script async src="//static.getclicky.com/101380091.js"></script>
    <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101380091ns.gif" /></p></noscript>
  </body>
</html>