<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>$if(title)$$title$ - $endif$$author$</title>
    <link rel="stylesheet" type="text/css" href="$root$/css/default.css" />
    <link rel="stylesheet" type="text/css" href="$root$/css/syntax.css" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS Feed"
      href="$root$/rss.xml"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
  </head>
  <body>
    <div class="container">

